<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupcakes - shop</title>
    <link href="../public/css/cupcakeStyles.css" rel="stylesheet">
</head>

<body>
<div class="header">
    <div class="logo-section">
        <img src="../public/images/cupcakelogo.png" alt="Olsker Cupcakes Logo">
    </div>

    <div class="nav">
        <a class="nav-but" href="#">Ordrer</a>
        <a class="nav-but" href="inspiration.html">Få inspiration</a>
        <a class="nav-but" href="ordrehistorik.html">Ordre-historik</a>

        email

        <a href="shoppingcart.html">
            <img src="../public/images/shoppingCart.png"  class="image-size" alt="shopping cart">
        </a>
    </div>

</div>


<img src="../public/images/cupcake6.jpg" height="317" width="474"/></body>
</html>
