<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupcakes - shop</title>
    <link href="../public/css/cupcakeStyles.css" th:href="@{/css/cupcakeStyles.css}" rel="stylesheet">
</head>

<body>
<div class="header">
    <div class="logo-section">
        <a href="login.html" th:href="@{/}" class="logo-section">
            <img src="../public/images/cupcakelogo.png" th:src="@{/images/cupcakelogo.png}" alt="Olsker Cupcakes Logo">
        </a>
    </div>


    <div class="nav">
        <a class="nav-but" href="#">Ordrer</a>
        <a class="nav-but" href="ordrehistorik.html">Ordre-historik</a>

        <span th:if="${session.currentUser != null}" th:text="${session.currentUser}">Email</span>
        <a class="nav-but" th:if="${session.currentUser != null}" th:href="@{/logout}">Log out</a>

        <a class="nav-but" th:if="${session.currentUser == null}" th:href="@{/login}">Login</a>
        <a class="nav-but" th:if="${session.currentUser == null}" th:href="@{/signUp}">Sign up</a>


        <a th:href="@{/shoppingCart}">
            <img src="../public/images/shoppingCart.png" th:src="@{/images/shoppingcart.png}" class="image-size" alt="shopping cart">
        </a>
    </div>

</div>


<img src="../public/images/cupcake6.jpg" th:src="@{/images/cupcake6.jpg}" height="317" width="474"/>
<img src="../public/images/cupcake8.jpg" th:src="@{/images/cupcake8.jpg}" height="317" width="474"/>

</body>
</html>
