<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupcakes - kurv</title>
    <link href="../public/css/cupcakeStyles.css" th:href="@{/css/cupcakeStyles.css}" rel="stylesheet">
</head>

<body>
<div class="header">
    <div class="logo-section">
        <a href="login.html" th:href="@{/}" class="logo-section">
        <img src="../public/images/cupcakelogo.png" th:src="@{/images/cupcakelogo.png}" alt="Olsker Cupcakes Logo">
        </a>
    </div>

    <div class="nav">
        <a class="nav-but" th:href="@{/inspiration}">Få inspiration</a>

        <span th:if="${session.currentUser != null}" th:text="${session.currentUser}">Email</span>
        <a class="nav-but" th:if="${session.currentUser != null}" th:href="@{/logout}">Log out</a>

        <a class="nav-but" th:if="${session.currentUser == null}" th:href="@{/login}">Login</a>
        <a class="nav-but" th:if="${session.currentUser == null}" th:href="@{/signUp}">Sign up</a>


        <a th:href="@{/shoppingCart}">
            <img src="../public/images/shoppingcart.png" th:src="@{/images/shoppingcart.png}" class="image-size" alt="shopping cart">
        </a>
    </div>

</div>

<div class="main">
    <h2>Din indkøbskurv</h2>

    <table class="cart-table">
        <tr>
            <th>Bund</th>
            <th>Top</th>
            <th>Antal</th>
            <th>Pris per stk</th>
        </tr>
        <tr th:each="cupcake : ${session.shoppingCart}">
            <td th:text="${cupcake.bottom.bottomsName}"></td>
            <td th:text="${cupcake.topping.toppingName}"></td>
            <td th:text="${cupcake.quantity}"></td>
            <td th:text="${cupcake.bottom.bottomPrice} + ${cupcake.topping.toppingPrice} +' kr'"></td>
        </tr>
        <!-- Række til totalpris -->
        <tr>
            <td colspan="3" style="text-align: right; font-weight: bold;">Total:</td>
            <td th:text="${totalPrice} + ' kr'"></td>
        </tr>

    </table>

    <a class="login-button" th:href="@{/checkout}">Gå til betaling</a>
</div>

</body>
</html>
