<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupcakes - Signup</title>
    <link href="../public/css/cupcakeStyles.css" th:href="@{/css/cupcakeStyles.css}" rel="stylesheet">
</head>
<body>

<div class="header">
<a href="signUp.html" th:href="@{/}" class="logo-section">
    <img src="../public/images/cupcakelogo.png" th:src="@{/images/cupcakelogo.png}"/>
</a>
</div>

<main>
    <div class="signup-box">
        <h2>Sign up here:</h2>
        <form method="post">
            <input type="email" name="email" placeholder="Enter your email" required><br>
            <input type="password" name="password1" placeholder="Password" required><br>
            <input type="password" name="password2" placeholder="Confirm the password" required><br>

            <button type="submit" formaction="/signUp" class="login-button">Sign up</button>
            <div> <p th:text="${message}"></p></div>

        </form>
    </div>
</main>
</body>
</html>
